h1{

color:black;

background-color:lavender;
 border:solid maroon 5px;

border-radius:10px;
}

h2{

color:maroon;

background-color:lavender;
 border:solid maroon 5px;

border-radius:10px;
}

body{

background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

color:black;

 padding:20px;
}
div{
	margin:50px;
	
}

.qual{

font-size:10px;
}

.BranchName {

color:maroon;

font-size:18px;

list-style-type: upper-roman;
}

.facCategory{

color:black;

font-size:15px;

background-color:pink;

width:1500px;


padding:20px;

border:solid maroon 4px;

border-radius:10px;
}

.fact{

color:black;

font-size:15px;

background-color:pink;

width:1500px;

padding:20px;


border:solid maroon 4px;

border-radius:10px;
}
.fac{
	
color:black;

font-size:15px;

background-color:pink;

width:1500px;

padding:20px;


border:solid maroon 4px;

border-radius:10px;	
	
}
